@font-face {
    font-family: 'anonymous_probold';
    src: url('../fonts/anonymous_pro_b-webfont.woff2') format('woff2'),
         url('../fonts/anonymous_pro_b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'anonymous_probold_italic';
    src: url('../anonymous_pro_bi-webfont.woff2') format('woff2'),
         url('../anonymous_pro_bi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'anonymous_proitalic';
    src: url('../fonts/anonymous_pro_i-webfont.woff2') format('woff2'),
         url('../fonts/anonymous_pro_i-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'anonymous_proregular';
    src: url('../fonts/anonymous_pro-webfont.woff2') format('woff2'),
         url('../fonts/anonymous_pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #003164;
    background-image: url('../images/dark-bg-2.jpg');
    background-size: cover;
    font-family: Arial,sans-serif;
}


header{
    width: 100%;
    height: 10%;
    padding-top: 2%;
    z-index: 2;
    display: inline;
}

header>ul {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
}

#name{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-right: 25%;
}

.profile_header {
    display: inline-block;
    background-color: inherit;
}

#profile_header_image{
    width: 100%;
}

header>ul h1{
    width: 200px;
    height: 30%;
    margin-left: 5%;
    margin-bottom: 0;
    font-family: "Arial Narrow",Arial,sans-serif;
    letter-spacing: 1px;
    color: #FFFFFF;
    word-spacing: 5px;
}

header>ul li{
    list-style: none;
}

#navbar{
    padding-top: 3%;
}

ul.nav{
    width: 10%;
    display: flex;
    padding-top: 35%;
    padding-left: 0%;
    flex-direction: row;
}

li.nav{
    display: inline;
    background-color: inherit;
    padding-right: 200%;
}

li a{
    font-family: Arial,sans-serif;
    color: #9FC2CC;
    font-size: 30px;
    text-decoration: none;
    background-color: inherit;
}

a:hover{
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
}

#bg{
    position: relative;
    max-width: 1250px;
    height: 100vh;
    margin: 0 auto; 
    background-color: #24272B;
    z-index: 1;
}

#intro{
    font-family: anonymous_proregular, Arial;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    padding-top: 5%;
    padding-left: 4%;
    padding-bottom: 5%;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 40px;
    color: #FFFFFF;
}

@keyframes blinkingCursor {
    from, to { 
        opacity: 0; 
    }
    
    50% {
        opacity: 1;
    }
}

#term {
    animation: blinkingCursor 1s infinite step-end;
}

.maincontent{
    margin-left: 8%;
    margin-right: 8%;
}

.subsection{
    font-family: Arial,sans-serif;
    color: #9FC2CC; 
}

p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 2.0em;
}

p a{
    color: #9FC2CC;
}

#nextpar{
    padding-top: 2%;
    padding-bottom: 2%;
}

div img{
    float: right;
    display: inline;
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 5%;
}

#resume{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article li.skill{
    color: #FFFFFF;
    font-size: 18px;
    margin: 10px;
}

article ul#CTF{
    padding: 10px;
}

.desc{
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact{
    margin-bottom: 0;
}

footer{
    color:white;
}

h5, h5>a{
    color: #9FC2CC;
    text-align: center;
}
